{% extends "base/base.html" %}

{% block content %}
	
	<div class="uk-flex uk-flex-center">
		<div class="uk-card uk-text-center">
		    <div class="uk-card-header">
		        <h3 class="uk-card-title">Contraseña restablecida</h3>
		    </div>
		    <div class="uk-card-body ">
		    	<p class="uk-text-emphasis">
					El usuario <span class="uk-text-capitalize">{{ name }}</span>, ha solicitado el restablecimiento de su contraseña.
				</p>
				<p>
					Evite usar esta contraseña nuevamente. Por su seguridad, <span class="uk-text-italic uk-text-bold">le recomendamos actualizarla por una nueva una vez que haya iniciado sesión</span>.
				</p>
				<p>
					Utilice la siguiente contraseña para acceder al sistema:
				</p>
				<p>
					<b class="uk-text-lead">{{password}}</b>
				</p>
				<p>
					<span class="uk-label uk-label-warning">Advertencia</span> 
					<span class="uk-text-bold">Para una mayor seguridad</span>, se recomienda crear una contraseña única y difícil de adivinar. Puede usar una combinación de letras mayúsculas, minúsculas, números y símbolos. 
				</p>
		    </div>

		    <div class="uk-card-footer">
		    	Emitido : {% now "d N Y P" %}
		    </div>
		</div>
	</div>
{% endblock content %}