{% extends "base/base.html" %}


{% block content %}
	<div class="uk-flex uk-flex-center">
		<div class="uk-card">
		    <div class="uk-card-header">
		        <h3 class="uk-card-title">Contraseña restablecida</h3>
		    </div>
		    <div class="uk-card-body">
		    	<p class="uk-text-emphasis">
					El usuario {{ name }}, ha decidido restrablecer su contraseña
				</p>
				<p>
					Utilice las siguiente contraseña para acceder al sistema, luego <span class="uk-text-italic">se le recomienda actualizar su contraseña para una mayor seguridad.</span>
				</p>
				<p>
					<b>Su contraseña restrablecida es</b>: {{password}} 
				</p>
				<p>
					<span class="uk-label uk-label-warning">Advertencia</span> Evite usar esta contraseña nuevamente para ingresar al sistema, por favor, le sugerimos remplasarla por una nueva. 
				</p>
		    </div>

		    <div class="uk-card-footer">
		    	Emitido : {% now "d N Y P" %}
		    </div>
		</div>
	</div>	

{% endblock content %}