{% extends "base/base.html" %}

{% load django_bootstrap5 %}

{% block style %}

	{% bootstrap_css %}

{% endblock style %}

{% block content %}

	<div class="text-center container my-3">	
		<div class="card">
			<h5 class="card-header lead">Contraseña restablecida</h5>
			<div class="card-body">
				<p class="card-text">
					El usuario <span class="text-capitalize">{{ name }}</span>, ha solicitado el restablecimiento de su contraseña
				</p>
				<p class="card-text">
					Evite usar esta contraseña nuevamente. Por su seguridad, <span class="fst-italic fw-bold">le recomendamos actualizarla por una nueva una vez que haya iniciado sesión</span>.
				</p>
				<p class="card-text">
					Utilice la siguiente contraseña para acceder al sistema:
				</p>
				<p>
					<b class="fs-3 fw-bold">{{password}}</b>
				</p>
				<p class="card-text">
					<span class="badge text-bg-warning">Advertencia</span> 
					<span class="uk-text-bold">Para una mayor seguridad</span>, se recomienda crear una contraseña única y difícil de adivinar. Puede usar una combinación de letras mayúsculas, minúsculas, números y símbolos. 
				</p>
			</div>
			<div class="card-footer text-body-secondary">
				Emitido : {% now "d N Y P" %}
		  	</div>
		</div>
	</div>

{% endblock content %}
